@import url("./reset.css");
@import url("./colors.css");
@import url("./content.css");

html,
body {
  --at-apply: font-sans;
}

.page-enter-active,
.page-leave-active {
  transition: all 500ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}

.nuxt-loading-indicator {
  background: linear-gradient(
    to right,
    rgb(var(--primary-500)) 0%,
    rgb(var(--primary-500)) 20%,
    rgb(var(--accent-700)) 60%,
    rgb(var(--secondary-500)) 100%
  ) !important;
}
