@import url("./reset.css");
@import url("./colors.css");
@import url("./content.css");

*,
html,
body {
  --at-apply: font-sans;
}

.page-enter-active,
.page-leave-active {
  transition: all 500ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(
    to right,
    rgb(var(--primary-700)) 0%,
    rgb(var(--accent-900)) 50%,
    rgb(var(--secondary-700)) 100%
  ) !important;
}
